@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --font-avenir: var(--font-avenir);
      --font-prompt: var(--font-prompt);
      --font-prompt: var(--font-sarabun); */

    --light-green: #b3d77d;
    --green: #459d12;
    --dark-green: #169026;
  }
}

body {
}
